player-connection-mode=Listen
player-connection-guid=1663540075
player-connection-debug=0
player-connection-project-name=ChangLongKinect
player-connection-ip=192.168.229.1
player-connection-ip=192.168.230.1
player-connection-ip=192.168.43.59
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
